


<div>
    <br/>
    @if (!timeOver)
    {
        <h1>@($"{CountdownTime.Days} : {CountdownTime.Hours} : {CountdownTime.Minutes} : {CountdownTime.Seconds}")</h1>
    }
    else
    {
        <h1>schönen Feierabend</h1>
    }
    <br />
</div>

